.peter-weather-widget hr {
	border-color: #064091;
	margin: 10px 0;
}

.day-heading {
	margin-bottom: 5px;
}

.weather-icon {
	float: right;
	margin-top: -15px;
}

.weather-icon.current {
	margin-top: -25px;
}

.flex-table {
	display: flex;
	flex-flow: row wrap;
	align-items: baseline;
}

.flex-row {
	width: calc(100% / 2);
	line-height: 1.3;
}

.full-row {
	width: 100%;
}

.flex-row.header {
	font-size: 11px;
	width: 35%;
}

.flex-row.day {
	font-size: 14px;
	width: 65%;
}

@media all and (max-width: 767px) {
	.flex-row {
		width: calc(100% / 3);
	}

	.flex-row.first {
		width: 100%;
	}
}

@media all and (max-width: 430px) {

	.flex-row {
		width: 100%;
	}

	.flex-row .flex-row.first {
		width: 100%;

	}

	.flex-cell {
		width: 100%;
	}
}
